@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
}

.container{
    position: relative;

}

.container .slide-container .slide{
min-height: 100vh;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 15px;
padding:20px 9%;
padding-bottom: 70px;
}

.container .slide-container .slide .content{
    flex: 1 1 350px;
    animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}

.container .slide-container .slide .image{
    flex: 1 1 500px;
}

.container .slide-container .slide .image img{
    width:100%;
    animation: slideImage .4s linear;
}


@keyframes slideImage{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

.container .slide-container .slide .content h3{
    font-size: 35px;
    color: #333;
}

.container .slide-container .slide .content p{
    font-size: 20px;
    color: #333;
    padding: 10px 0;
    text-align: justify;
    
}

.container .slide-container .slide .content li{
    font-size: 20px;
    color: #333;
    
    text-align: justify;
    
}

.container .slide-container .slide .content .btn{
    margin-top: 10px;
    display: inline-block;
    background: #666;
    color:#fff;
    font-size: 17px;
    padding: 9px 40px;
}

.container .slide-container .slide .content .btn:hover{
background:#333;
}

.container .slide-container{
    display: none;
}

.container .slide-container.active{
    display: block;
}

.container .slide-container:nth-child(1) .slide{
    background: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30.1%);
}

.container .slide-container:nth-child(2) .slide{
    background:linear-gradient(90deg, #f9f9f9 70%, #ff9090 30.1% );
}

.container .slide-container:nth-child(3) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#99bbff 30.1% );
}

.container .slide-container:nth-child(4) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ffd899 30.1% );
}

.container .slide-container:nth-child(5) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#caff99 30.1% );
}

.container .slide-container:nth-child(6) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ff99ce 30.1% );
}

.container .slide-container:nth-child(7) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#99fffc 30.1% );
}
.container .slide-container:nth-child(8) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ff9b99 30.1% );
}
.container .slide-container:nth-child(9) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ffffff 30.1% );
}
.container .slide-container:nth-child(10) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ffce99 30.1% );
}
.container .slide-container:nth-child(11) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#99a7ff 30.1% );
}.container .slide-container:nth-child(12) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ffce99 30.1% );
}.container .slide-container:nth-child(13) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ff99ac 30.1% );
}.container .slide-container:nth-child(14) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#afff99 30.1% );
}.container .slide-container:nth-child(15) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#b4b1ad 30.1% );
}.container .slide-container:nth-child(16) .slide{
    background:Linear-gradient(90deg, #f9f9f9 70%,#ff9999 30.1% );
}

.container #prev,
.container #next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:#fff;
    background:#333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

.container #prev:hover,
.container #next:hover{
background: #666;
}

.container #prev{
    left:20px;
}

.container #next{
    right:20px;
}

@media (max-width:500px){

     .container #prev{
        left:0px;
        top:60%;
    }
    
    .container #next{
        right:0px;
        top:60%;
    }
}

